td.height_to_canvas{
	padding-top:3em;
}
td.line_in_middle{
	text-align:center;
}
canvas.style{
	border: 1px solid black;
}
div.transfer_place{
	text-align:right;
	margin-top: 0.2em;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-bottom: 0.2em;
}
#inp_finish
{
	font-size: 1.2em;
	padding: 0.2em;
	width:13em;
	border-radius: 0.3em;
	border: 1px solid black; /* #bbb; */
	background-color:#FFD700;/* #fff7cc; */
	opacity: 1;
	transition: all 100ms;
}
#inp_finish:hover
{
	border: 1px solid black;
	background-color:#FFD700;
	opacity: 1;
	cursor: pointer;
}
#inp_finish:focus
{
	opacity: 1;
	background-color:#FFD700;
	border: 1px solid black;
	box-shadow: 0 0 3px 3px #ddd;
	outline: 0;
	cursor: text;
}
#inp_finish:active
{
	outline: 0;
}
#inp_finish::-webkit-input-placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#inp_finish:-ms-input-placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#inp_finish::placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#inp_finish:focus::-webkit-input-placeholder
{
	color: transparent;
}
#inp_finish:focus:-ms-input-placeholder
{
	color: transparent;
}
#inp_finish:focus::placeholder
{
	color: transparent;
}
#inp_finish:empty::before{
}
#inp_to_edit
{
	font-size: 1em;
	padding: 0.2em;
	/* width:7em; */
	border-radius: 0.1em;/* 0.625em; */
	border: 1.5px solid #bbb;
	/* background-color: #f3f3f3; */
	background-color: #f3f3d0;
	color:black;
	opacity: 1;
	transition: all 100ms;
}
#inp_to_edit:hover
{
	border: 1.5px solid #bbb;
	/* background-color: #fff; */
	background-color: #f3f3a0;
	opacity: 1;
	cursor: pointer;
}
#inp_to_edit:focus
{
	opacity: 1;
	/* background-color: #fff; */
	background-color: #f3f380;
	color:black;
	border: 1.5px solid #bbb;
	box-shadow: 0 0 1px 1px #ddd;
	outline: 0;
	cursor: text;
}
#inp_to_edit:active
{
	outline: 0;
}
#inp_to_edit::-webkit-input-placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#inp_to_edit:-ms-input-placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#inp_to_edit::placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#inp_to_edit:focus::-webkit-input-placeholder
{
	color: transparent;
}
#inp_to_edit:focus:-ms-input-placeholder
{
	color: transparent;
}
#inp_to_edit:focus::placeholder
{
	color: transparent;
}
#inp_to_edit:empty::before{
}