div.transfer_place{
	text-align:right;
	margin-top: 0.2em;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-bottom: 0.2em;
}
#myBar{
    opacity: 0.5;
    width: 11.1%;
    height: 2em;
    background-color: #2DB632;/*#4CAF50;*/
}
#countdown{
	cursor: default;
	font-size: 3em;
	font-style: arial,serif;
	background-color: white;
	border: 0.05em solid #bbb;
}
#nameInput
{
	font-size: 1.2em;
	padding: 0.2em;
	width:10em;
	border-radius: 0.3em;/* 0.625em; */
	border: 1px solid #bbb;
	background-color: #f3f3f3;
	opacity: 1;
	transition: all 100ms;
}
#nameInput:hover
{
	border: 1px solid #bbb;
	background-color: #fff;
	opacity: 1;
	cursor: pointer;
}
#nameInput:focus
{
	opacity: 1;
	background-color: #fff;
	border: 1px solid #bbb;
	box-shadow: 0 0 3px 3px #ddd;
	outline: 0;
	cursor: text;
}
#nameInput:active
{
	outline: 0;
}
#nameInput::-webkit-input-placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#nameInput:-ms-input-placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#nameInput::placeholder
{
	color:black;
	opacity: 0.5;
	font-size: 0.7em;
}
#nameInput:focus::-webkit-input-placeholder
{
	color: transparent;
}
#nameInput:focus::placeholder
{
	color: transparent;
}
#nameInput:empty::before{
}
#contextInput
{
	font-size: 1.2em;
	padding: 0.2em;
	width:10em;
	border-radius: 0.3em;/* 0.625em; */
	border: 1px solid #bbb;
	background-color: #f3f3f3;
	opacity: 1;
	transition: all 100ms;
}
#contextInput:hover
{
	border: 1px solid #bbb;
	background-color: #fff;
	opacity: 1;
	cursor: pointer;	
}
#contextInput:focus
{
	opacity: 1;
	background-color: #fff;
	border: 1px solid #bbb;
	box-shadow: 0 0 3px 3px #ddd;
	outline: 0;
	cursor: text;
}
#contextInput:active
{
	outline: 0;
}
#contextInput::-webkit-input-placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#contextInput:-ms-input-placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#contextInput::placeholder
{
	color:black;
	opacity: 0.5;
	font-size: 0.7em;
}
#contextInput:focus::-webkit-input-placeholder
{
	color: transparent;
}
#contextInput:focus::placeholder
{
	color: transparent;
}
#contextInput:empty::before{
}
#choiceButton
{
	width:10em;
	height:2em;
	background-color:white;
	color:black;
	font-size:1.1em;
	border:0.093em solid gray;
	border-radius: 0.625em;
	opacity:1;
}
#choiceButton:active
{
	outline:0;
}
#choiceButton:hover
{
	border: 1px solid #bbb;
	background-color: #fff;
	opacity: 1;
	cursor: pointer;
}
#choiceButton:focus
{
	opacity: 1;
	background-color: #fff;
	border: 1px solid #bbb;
	/* box-shadow: 0 0 2px 2px #ddd;*/
	outline: 0;
	cursor: pointer;
}
#choiceButtonYes
{
	width:6em;
	height:2em;
	background-color:white;
	color:black;
	font-size:1.1em;
	border:0.093em solid gray;
	border-radius: 0.3em;/* 0.625em; */
	opacity:1;
}
#choiceButtonYes:active
{
	outline:0;
}
#choiceButtonYes:hover
{
	border: 1px solid #bbb;
	background-color: #fff;
	opacity: 1;
	cursor: pointer;
}
#choiceButtonYes:focus
{
	opacity: 1;
	background-color: #fff;
	border: 1px solid #bbb;
	/* box-shadow: 0 0 3px 3px #ddd; */
	outline: 0;
	cursor: pointer;
}
#choiceButtonNo
{
	width:6em;
	height:2em;
	background-color:white;
	color:black;
	font-size:1.1em;
	border:0.093em solid gray;
	border-radius: 0.3em;/* 0.625em; */
	opacity:1;
}
#choiceButtonNo:active
{
	outline:0;
}
#choiceButtonNo:hover
{
	border: 1px solid #bbb;
	background-color: #fff;
	opacity: 1;
	cursor: pointer;
}
#choiceButtonNo:focus
{
	opacity: 1;
	background-color: #fff;
	border: 1px solid #bbb;
	/* box-shadow: 0 0 3px 3px #ddd; */
	outline: 0;
	cursor: pointer;
}
#inp_to_edit
{
	font-size: 1em;
	padding: 0.2em;
	/* width:7em; */
	border-radius: 0.3em;/* 0.625em; */
	border: 1.5px solid #bbb;
	/* background-color: #f3f3f3; */
	background-color: #f3f3d0;
	color:black;
	opacity: 1;
	transition: all 100ms;
}
#inp_to_edit:hover
{
	border: 1.5px solid #bbb;
	/* background-color: #fff; */
	background-color: #f3f3a0;
	opacity: 1;
	cursor: pointer;
}
#inp_to_edit:focus
{
	opacity: 1;
	/* background-color: #fff; */
	background-color: #f3f380;
	color:black;
	border: 1.5px solid #bbb;
	box-shadow: 0 0 1px 1px #ddd;
	outline: 0;
	cursor: text;
}
#inp_to_edit:active
{
	outline: 0;
}
#inp_to_edit::-webkit-input-placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#inp_to_edit:-ms-input-placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#inp_to_edit::placeholder
{
	color: #3a3;
	opacity: 0.5;
	font-size: 0.6em;
	font-style: italic;
}
#inp_to_edit:focus::-webkit-input-placeholder
{
	color: transparent;
}
#inp_to_edit:focus:-ms-input-placeholder
{
	color: transparent;
}
#inp_to_edit:focus::placeholder
{
	color: transparent;
}
#inp_to_edit:empty::before{
}